{% extends 'blog/base.html' %}

{% block content %}
{% if locations %}

<h3>Hardware</h3>

<p>The computer labs are equipped with cutting edge hardware to help you get your work done faster.</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>Lab</th>
        <th>Device</th>
        <th>Type</th>
        <th>Model</th>
        <th>Quantity</th>
        <th>Speed</th>
        <th>Memory</th>
        <th>Comments</th>
    </tr>
    {% for location in locations %}
    <tr>
        <td rowspan="{{ location.lab_printers.count|add:"1"  }}">{{ location.name  }}</td>
        <td>Computer</td>
        <td>{{ location.computer.computer_model.brand }}</td>
        <td>{{ location.computer.computer_model.model_num }}</td>
        <td>{{ location.computer_quantity }}</td>
        <td>{{ location.computer.computer_speed }}</td>
        <td>{{ location.computer.computer_memory  }}</td>
        <td>{{ location.computer.computer_comment  }}</td>
    </tr>
    <tr>
        {% for printer in location.lab_printers.all %}
        {% ifequal forloop.counter 1 %}
        <td rowspan="{{ location.lab_printers.count  }}">Printer</td>
        {% endifequal %}
        <td>{{ printer.printer_model.brand }}</td>
        <td>{{ printer.printer_model.model_num }}</td>
        <td>{{ location.printer_quantity }}</td>
        <td></td>
        <td></td>
        <td>{{ location.printer_comment }}</td>
    </tr>
        {% endfor %}
    {% endfor %}
</table>

<h3>Software</h3>

{% for location in locations %}
{% if location.lab_printers %}
{{ location.lab_printers.count|add:"1"  }}
{% endif %}

{% endfor %}
{% endif %}
{% endblock content %}
